.footer__container {
  text-align: center;
}

.footer__nav__container,
.footer__nav,
.footer__nav__social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 50px auto;
}

.footer__nav {
  width: 30%;
}

.footer__nav__item,
.footer__social__icon {
  margin: 10px;
  text-decoration: none;
  color: var(--light-color);
}
