* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2D2F33;
  color: #fff;
}

.App-header {
 margin: auto;
 width: 80%;
}

ul {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-size: 900;
}

.nav-links {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.nav-links :hover {
  color: #63C896;
}

.nav-links li {
  padding: 10px 15px;
}

.social-links {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.social-links li {
  padding: 10px 15px;
}