@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&family=Maven+Pro:wght@400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #d61c4e;
  --dark-color: #060607;
  --light-color: #f5f5f5;
}

::-moz-selection {
  background: var(--primary-color);
  color: var(--dark-color);
}

::selection {
  background: var(--primary-color);
  color: var(--dark-color);
}

body {
  font-family: "Maven Pro", sans-serif;
  color: var(--light-color);
  background-color: var(--dark-color);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.App {
  text-align: center;
  font-size: calc(10px + 1vmin);
  position: relative;
}

.App h1 {
  font-size: 5em;
}
